body {
	width: 1510px;
	margin: 0 auto;
}
.dark {
	position: absolute;
	width: 1510px;
	height: 1026px;
	margin: 0 auto;
	z-index: -1;
	background-color: rgba(0, 0, 0, 0.5);
}
.picture {
	width: 1510px;
	height: 1026px;
	position: absolute;
	z-index: -2;
}
.banner {
	margin-bottom: 0;
	margin: 0;
}
