body {
	width: 1510px;
	margin-left: auto;
	margin-right: auto;
}
.dark {
	position: absolute;
	width: 1510px;
	height: 1026px;
	margin-left: auto;
	margin-right: auto;
	z-index: -1;
	background-color: rgba(0, 0, 0, 0.5);
}
.picture {
	width: 1510px;
	height: 1026px;
	position: absolute;
	z-index: -2;
}
.banner {
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;

	margin: 0 0 0 0;
}
