.banner__content {
	display: flex;
	flex-direction: row;
	width: 1170px;
	height: 100px;
	margin-top: 208px auto 0 auto;
}

.axit__info {
	display: flex;
	flex-direction: column;
	width: 670px;
	margin-right: 30px;
}
.axit__info div:nth-child(1) {
	height: 100px;
	width: 270px;
	margin-bottom: 50.88px;
}
.axit__info div:nth-child(2) {
	width: 670px;
	height: 168px;
	margin-bottom: 55.12px;
	font-family: "Raleway", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 48px;
	line-height: 56px;
	display: flex;
	align-items: center;
	text-transform: uppercase;

	color: #ffffff;
}
.axit__info div:nth-child(3) {
	width: 170px;
	height: 0px;
	margin-bottom: 42px;
	border: 1px solid #ffffff;
}
.axit__info div:nth-child(4) {
	height: 42px;
	width: 270px;
	margin: 0 0 42px 0;

	font-family: "Raleway", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	display: flex;
	align-items: center;
	color: #ffffff;
}
.download__button {
	height: 58px;
	width: 270px;
	background-color: transparent;
	border: 2px #ffffff solid;
	cursor: pointer;
	font-family: "Open Sans", sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	align-items: center;
	text-align: center;
	text-transform: capitalize;
	color: #ffffff;
}
.download__button:hover {
	border: 2px solid #ec7979;
	color: #ec7979;
}
.download__button:active {
	background: #ab4949;
	border: 2px solid #ab4949;
}
