.main__page {
  margin: 0 auto;
  max-width: 94.375rem;
  max-height: 64rem;
  background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%), url(../IMG/eagle.png);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 73.125rem;
  max-height: 6.25rem;
  margin: 0 auto 4.8125rem;
}
.header .logo {
  max-height: 1.631rem;
  max-width: 6.1025rem;
  background: none;
}
.header div {
  display: flex;
}
.header div div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7.125rem;
  height: 6.25rem;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.875rem;
  color: #ffffff;
  text-transform: uppercase;
}
.header .main__page_icon {
  display: flex;
  justify-content: space-around;
}

.template {
  max-width: 73.125rem;
  max-height: 5rem;
  margin: 0 auto;
  text-align: center;
}
.template h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Kaushan Script", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 4rem;
  color: #ffffff;
}

.mojo {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  max-width: 73.175rem;
  max-height: 23.125rem;
  margin: 0 auto 2.75rem;
}

h1 {
  max-width: 50.375rem;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 9rem;
  color: #ffffff;
  text-transform: uppercase;
  text-align: right;
  line-height: 10rem;
  padding: 3.125rem 5rem 0 0;
}

.white__line {
  width: 10.625rem;
  height: 0.25rem;
  margin: 0 auto;
  background-color: #ffffff;
}

.learn__button {
  width: 23.125rem;
  height: 5rem;
  margin: 4.65125rem auto 7.25rem;
}
.learn__button button {
  width: 23.125rem;
  height: 5rem;
  margin: 0 auto;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 1.5rem;
  background: none;
  border: 0.25rem solid #ffffff;
  text-transform: uppercase;
  color: #ffffff;
}

.work__num {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 73.125rem;
  max-height: 5.3125rem;
  margin: 0 auto;
}

.work__item {
  width: 23%;
  height: 5.3125rem;
  padding: 0 0.5rem;
  cursor: pointer;
  box-sizing: border-box;
  border-top: 4px solid rgba(255, 255, 255, 0.5);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.875rem;
  font-size: 2.25rem;
  line-height: 4.5rem;
  color: rgba(255, 255, 255, 0.5);
}
.work__item p > span {
  font-size: 1rem;
  text-transform: uppercase;
}

.work__item:hover {
  border-top: 4px solid #ffffff;
  color: #ffffff;
  -o-border-image: linear-gradient(90deg, #f38281 30%, #ffffff 10%) 10;
     border-image: linear-gradient(90deg, #f38281 30%, #ffffff 10%) 10;
}

.learn__button > button:hover {
  background: #ffffff;
  color: #f4bf87;
}

.learn__button > button:active {
  background: #ffffff;
  border: 0.25rem solid #f4bf87;
  color: #f4bf87;
}

@media screen and (max-width: 1130px) {
  .st_img {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 700px) {
  .template {
    font-size: 2rem;
  }

  h1 {
    font-size: 3rem;
    text-align: center;
  }

  .learn__button {
    width: 17.75rem;
    height: 3.25rem;
    margin: 4.65125rem auto 7.25rem;
  }
  .learn__button button {
    width: 17.75rem;
    height: 3.25rem;
  }

  .work__item > p {
    width: 0;
    height: 0;
    overflow: hidden;
  }
  .work__item > p span {
    width: 0;
    height: 0;
  }
}/*# sourceMappingURL=main_page.css.map */